<!DOCTYPE html>
{% load staticfiles %}
<html>
  <head>
    <meta charset="utf-8">
    <title>asdas</title>

  </head>


  <body>

<blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Health care has always been about something bigger than politics: it's about the character of our country. <a href="https://t.co/UqLO14Hef7">https://t.co/UqLO14Hef7</a></p>&mdash; Barack Obama (@BarackObama) <a href="https://twitter.com/BarackObama/status/877974755592228868">22 czerwca 2017</a></blockquote>
<blockquote class="twitter-tweet" data-lang="pl"><p lang="en" dir="ltr">On this National Gun Violence Awareness Day, let your voice be heard and show your commitment to reducing gun violence. <a href="https://t.co/eXkV4WmkqA"></a></p>&mdash; Barack Obama (@BarackObama) <a href="https://twitter.com/BarackObama/status/870695481290117120">2 czerwca 2017</a></blockquote>
<blockquote class="twitter-tweet" data-lang="pl"><p lang="en" dir="ltr">VIDEO: Love this! Arsene Wenger recalls shock announcement of Sol Campbell&#39;s move from Spurs. <a href="https://twitter.com/hashtag/afc?src=hash">#afc</a> <a href="https://t.co/Ix1GrNtiJT">pic.twitter.com/Ix1GrNtiJT</a></p>&mdash; ArsenalCentral (@AFCCentralHQ) <a href="https://twitter.com/AFCCentralHQ/status/883085540970647554">6 lipca 2017</a></blockquote>
<iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2FArsenalTSN%2Fposts%2F1606065339418035%3A0&width=500" width="500" height="468" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
<iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2FSarcasticGooner%2Fposts%2F1959833417587321%3A0&width=500" width="500" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

  </body>
</html>
